@import "tailwindcss";
@config "../tailwind.config.js";

@layer base {
    :root {
        --color-background: 249 250 251;
        /* gray-50 */
        --color-surface: 255 255 255;
        /* white */
        --color-primary: 16 185 129;
        /* emerald-500 */
        --color-secondary: 139 92 246;
        /* violet-500 */
        --color-text-main: 17 24 39;
        /* gray-900 */
        --color-text-muted: 107 114 128;
        /* gray-500 */
    }

    .dark {
        --color-background: 11 12 21;
        /* Dark Blue/Black */
        --color-surface: 21 23 37;
        /* Dark Surface */
        --color-primary: 16 185 129;
        /* emerald-500 */
        --color-secondary: 168 85 247;
        /* purple-500 */
        --color-text-main: 255 255 255;
        /* white */
        --color-text-muted: 156 163 175;
        /* gray-400 */
    }

    button[type="submit"],
    button[type="button"] {
        outline: none;
        border: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
    }
}